<section class="update-beer">
  <form id="update-beer-form">
    <h3>Update beer:</h3>





<section class="create-beer">
  <form id="create-beer-form">
    <h3>Create a beer:</h3>
    <input name="beer[name]" type="text" required placeholder="Beer Name">
    <input name="beer[type]" type="text" required placeholder="Beer Type">
    <input name="beer[brewery]" type="text" required placeholder="Brewery Name">
    <button type="submit">Submit Beer</button>
  </form>
</section>
